html{
	background-color:#2c3e50;
	font-family: verdana;
}

body{
	margin:0;
	padding: 0;
}

#headContainer{
	position:fixed;
	top:0px;
	width:100%;
	background-color:#f1c40f;
	padding-bottom:10px;
}

#header{
	background-color:#000;
	color:#FFF;
	margin:0;
	padding:10px;
}

#subheader{
	background-color:#f1c40f;
	margin:0 0 10px 0;
	padding:5px;
}

#footerContainer{
	position:fixed;
	bottom:0px;
	width:100%;
}

#footer{
	background-color:#000;
	color:#FFF;
	margin:0;
	padding:5px;
}

.parentItem{
	background-color:#ecf0f1;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;
	padding:10px;
	border-radius:10px;
}

.parentItem:hover{
	background-color:#f1c40f;
}

.employer{
	padding:0;
	margin:0;
}

.date{
	padding:0;
	margin:0;
}

.childItem{
	background-color:#bdc3c7;
	border-radius:10px;
	margin:5px;
	padding:10px;
}

.childItem:hover{

}

.time{
	padding:0;
	margin:0;
}

.location{
	padding:0;
	margin:0;
}

.website{
	padding:0;
	margin:0;
}

.audience{
	padding:0;
	margin: 0;
}

.programs{
	padding:0;
	margin:0;
}

.description{
	padding:0;
	margin:0;
}

/* colors
black #000000
sunflower #f1c40f
cloud #ecf0f1
navy #2c3e50
*/